body#sanity-check {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #535356; /* Sanity Check! */
}
div.container-fluid {
  position: fixed;
}
div#main{
  text-align: center;
  display: inline-block;
  margin-top: 4em;
}
img{
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
/*img:hover{
  border: 0.5em solid #CCFF99;
}*/
#reset:hover{
  background-color: #CCFF99;
  color: white;
}
#more:hover{
  background-color: #CCFF99;
  color: white;
}
